log_format upstream '$remote_addr "$request" $status upstream=$upstream_addr time=$request_time';

resolver ${NGINX_LOCAL_RESOLVERS} valid=10s ipv6=off;

upstream api {
    zone api 64k;
    least_conn;
    server api:8000 resolve;
    keepalive 32;
}

server {
    listen 80;
    access_log /dev/stdout upstream;
    client_max_body_size 10m;

    location / {
        proxy_pass http://api;
        proxy_http_version 1.1;
        proxy_set_header Connection "";
        proxy_request_buffering off;
        proxy_read_timeout 60s;
    }
}
